.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar .logo {
  max-width: 180px;
}


.navbar-profile {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.navbar .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.nav-profile-dropdown {
  position: absolute;
  width: 200px;
  right: 0;
  top: 50px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
  z-index: 1001;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-profile-dropdown li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  color: #49557e;
  font-size: 14px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.nav-profile-dropdown li span {
  display: block;
  margin: 5px;
}

.nav-profile-dropdown li:hover {
  color: tomato;
  background-color: #e2e2e2;
}

.nav-profile-dropdown hr {
  margin: 10px 0;
  border: none;
  background-color: #e2e2e2;
  height: 1px;
}

@media (max-width: 750px) {
  .navbar p {
    display: none;
  }
}